body{
    margin:0;
}

header{
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    width: 70%;
    margin-top: 30px;
    font-weight: bold;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul li:hover{
    color:red;
    cursor:pointer;
}

header>h1{
    margin-left: 30px;
}

.bigImg{
    margin-left: 2rem;
    width: 95%;
    margin-bottom: 2rem;
}

.container{
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
}

.container div{
    padding: 30px;
    text-align: center;
}

.container>div h1{
    font-family: 'Courier New', Courier, monospace;
}

.container>div p{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif
}

footer{
    background-color: black;
    text-align: center;
}

footer>h1{
    font-weight: normal;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}